* {
    box-sizing: border-box;
}

.container>div {
    border: 2px solid black;
    height: 25px;
    width: 25px;
}
.container {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(16, 25px [col-start]);
}